@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,800;1,300&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
  width: 100%;
  height: 100%;
}

html,
body {
  height: 100%;
  line-height: 1;
  overflow-x: hidden;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  max-width: none;
  margin: 0px auto;
  padding: 0px 15px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1500px) {
  .container {
    max-width: 1360px;
  }
}

@font-face {
  font-family: "LemonTuesday";
  src: url("../fonts/Lemon Tuesday.otf") format("opentype");
}

/** BLOCKS **/
.header__info, .header__nav {
  display: none;
}

.header__top {
  padding-top: 20px;
}

.header__top .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.header__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__user .user__link {
  padding-right: 20px;
}

.header__logo {
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .logo-txt {
  display: none;
}

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  padding: 10px 0;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 7;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header .menu-btn {
  display: none;
}

.header .menu-icon .navicon {
  background-color: #1fba0a;
  display: block;
  height: 2px;
  position: relative;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  width: 20px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background-color: #1fba0a;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
  background-color: #1fba0a;
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
  background-color: #1fba0a;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background-color: transparent;
}

.header .menu__body {
  padding: 100px 0 50px;
  position: fixed;
  top: 0;
  left: -100vw;
  width: 100vw;
  height: 100vh;
  -webkit-transition: 1s;
  transition: 1s;
  z-index: 5;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header__address a, .header__email a {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  text-transform: none;
  color: #000;
}

.header__address i, .header__email i {
  color: #1fba0a;
}

.header__number a {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 800;
  text-align: center;
  text-transform: none;
  color: #000;
}

.header__number span {
  font-family: "Open Sans", sans-serif;
  font-size: 9px;
  font-weight: 800;
  text-align: left;
  text-transform: none;
  color: #000;
}

.header__top-btn {
  margin-bottom: 10px;
}

.header__top-btn a {
  padding: 10px;
  border: 2px solid #1fba0a;
  border-radius: 3px;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 800;
  text-align: left;
  text-transform: uppercase;
  color: #1fba0a;
}

.header__top-btn a:hover {
  background-color: #1fba0a;
  color: #fff;
}

.header #menu-btn:checked ~ .menu__body {
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
  -webkit-transition: .5s;
  transition: .5s;
}

.header .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .menu__item {
  padding-bottom: 40px;
}

.header .menu__link {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  text-transform: uppercase;
  color: #000;
  -webkit-transition: .5s;
  transition: .5s;
}

.header .menu__link:hover {
  color: #1fba0a;
  -webkit-transition: .5s;
  transition: .5s;
}

.header .slider__item {
  background-image: url(../img/header-slider.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 50px 0;
  position: relative;
}

.header .slider__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header .slider__title {
  font-family: "LemonTuesday", sans-serif;
  font-size: 45px;
  font-weight: none;
  text-align: left;
  text-transform: none;
  color: #84c604;
  width: 220px;
  line-height: 1.2;
}

.header .slider__sale {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  display: inline-block;
  width: 60px;
  border-radius: 50%;
  background-color: red;
  padding: 20px 2px 15px;
  line-height: 1.2;
}

.header .slider__date {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  text-transform: none;
  color: #fff;
  font-style: italic;
  padding: 10px 0px;
}

.header .slider__btn {
  display: none;
}

.header .dots-header {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  margin-top: 10px;
}

.header .dots-header button {
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 50%;
  font-size: 0;
  height: 15px;
  width: 15px;
  margin: 5px 10px;
  outline: none;
}

.header .dots-header li[class="slick-active"] button {
  background-color: #1fba0a;
  border: none;
}

@media (min-width: 576px) {
  .header .slider__title {
    font-size: 55px;
    width: 300px;
  }
  .header .slider__sale {
    width: 80px;
    padding: 25px 2px 20px;
  }
}

@media (min-width: 768px) {
  .header .logo__img {
    display: none;
  }
  .header .logo-txt {
    display: inline;
  }
  .header .slider__item {
    background-image: url(../img/header-slider-768.png);
  }
  .header .slider__content {
    position: relative;
    width: 70%;
  }
  .header .slider__title {
    font-size: 70px;
    line-height: 1.3;
  }
  .header .slider__sale {
    position: absolute;
    right: 0;
    top: 20px;
  }
  .header .slider__btn {
    display: block;
    margin: 20px auto;
    padding: 10px 0;
    cursor: pointer;
  }
  .header .slider__btn-link {
    padding: 10px 30px;
    background-color: #fd4f10;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    border-radius: 3px;
  }
  .header .dots-header {
    position: absolute;
    bottom: 20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .header .dots-header button {
    border: 1px solid #fff;
  }
}

@media (min-width: 992px) {
  .header .slider__content {
    width: 55%;
  }
  .header .slider__item {
    padding: 80px 0;
  }
  .header .slider__title {
    font-size: 90px;
  }
  .header .slider__date {
    font-size: 25px;
  }
  .header .slider__btn {
    margin: 40px 0;
  }
  .header .fa-angle-left {
    position: absolute;
    top: 35%;
    left: 20px;
    font-size: 30px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    padding: 7px 13px 7px 10px;
    z-index: 20;
  }
  .header .fa-angle-right {
    position: absolute;
    top: 35%;
    right: 20px;
    font-size: 30px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    padding: 7px 10px 7px 13px;
  }
  .header .fa-angle-left:hover,
  .header .fa-angle-right:hover {
    color: #1fba0a;
    cursor: pointer;
  }
  .header__menu, .header__logo, .header__user {
    display: none;
  }
  .header__top .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .header__nav {
    display: block;
    width: 100%;
  }
  .header__nav label {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    color: #000;
    padding: 15px;
  }
  .header .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .menu {
    max-height: 0px;
    -webkit-transition: max-height .2s ease-in-out;
    transition: max-height .2s ease-in-out;
    overflow: hidden;
  }
  .header #menu {
    display: none;
  }
  .header #menu:checked ~ .menu {
    max-height: 60px;
  }
  .header__number {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .header__address a, .header__email a {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    text-transform: none;
    color: #000;
  }
  .header__number a {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 800;
    text-align: center;
    text-transform: none;
    color: #000;
  }
  .header__number span {
    font-family: "Open Sans", sans-serif;
    font-size: 9px;
    font-weight: 800;
    text-align: left;
    text-transform: none;
    color: #000;
  }
  .header__top-btn {
    margin-bottom: 10px;
  }
  .header__top-btn a {
    padding: 10px;
    border: 2px solid #1fba0a;
    border-radius: 3px;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 800;
    text-align: left;
    text-transform: uppercase;
    color: #1fba0a;
  }
  .header__top-btn a:hover {
    background-color: #1fba0a;
    color: #fff;
  }
  .header .nav__item {
    padding: 15px 0;
  }
  .header .nav__link {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 800;
    text-align: left;
    text-transform: uppercase;
    color: #000;
    padding: 15px;
    -webkit-transition: .5s;
    transition: .5s;
  }
  .header .nav__link:hover {
    color: #fff;
    background-color: #1fba0a;
    -webkit-transition: .5s;
    transition: .5s;
  }
  .header .nav__link i {
    color: #1fba0a;
  }
}

@media (min-width: 1500px) {
  .header .slider__content {
    width: 60%;
  }
  .header .slider__title {
    font-size: 130px;
  }
  .header .slider__sale {
    width: 120px;
    padding: 35px 8px 25px;
    font-size: 20px;
  }
  .header .fa-angle-left,
  .header .fa-angle-right {
    top: 45%;
  }
}

/**/
section .section__name {
  font-family: "LemonTuesday", sans-serif;
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  text-transform: capitalize;
  color: #32505a;
  padding: 35px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .section__name img {
  width: 76px;
  height: 32px;
}

section .section__name span {
  margin: 0 10px;
}

section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .section__slider {
  margin: 50px auto;
  width: 100%;
}

section .slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.4);
  border-radius: 13px;
  overflow: hidden;
  margin: 10px;
}

section .slider__title {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 800;
  text-align: center;
  text-transform: capitalize;
  color: #000;
  padding: 20px 0;
}

section .slider__subtitle {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  text-transform: none;
  color: #000;
}

section .slider__price {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 800;
  text-align: center;
  text-transform: none;
  color: #000;
  padding: 20px 0;
}

section .slider__price sup {
  font-weight: 500;
  font-size: 14px;
}

section .slider__number:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f056";
  margin-right: 10px;
}

section .slider__number:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f055";
  margin-left: 10px;
}

section .slider__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .slider__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .slider__btn-link {
  padding: 15px 0;
  width: 75%;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background-color: #fd4f10;
  border-radius: 3px;
  margin: 30px auto;
}

section .slider__btn-link:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f07a";
  margin-left: 20px;
}

section .dots-section {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  margin-top: 10px;
}

section .dots-section button {
  background-color: gray;
  border-radius: 50%;
  font-size: 0;
  height: 10px;
  width: 10px;
  margin: 5px 10px;
  outline: none;
}

section .dots-section li[class="slick-active"] button {
  background-color: #1fba0a;
  border: none;
}

section .section__choose {
  width: 100%;
}

section .section__choose input[type="radio"] {
  display: none;
}

section .section__choose label {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 800;
  text-align: left;
  text-transform: capitalize;
  color: #999999;
  padding-right: 50px;
  cursor: pointer;
}

section .section__choose input:checked + label {
  color: #fd4f10;
}

section .slider__img {
  position: relative;
  overflow: hidden;
}

section .slider__img .new {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 800;
  text-align: left;
  text-transform: lowercase;
  color: #fff;
  position: absolute;
  background-color: #1fba0a;
  padding: 5px 40px;
  top: 10px;
  left: -30px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

section .slider__img .fire {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 35px;
  height: 38px;
  padding: 8px;
  background-color: #fd4f10;
  border-radius: 50%;
}

section .slider__count {
  width: 80%;
  font-family: "Open Sans", sans-serif;
  margin: 0 auto;
  padding: 10px 0;
}

section .slider__count .add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .slider__count .sauce__add {
  padding: 2px 5px;
  color: #fff;
  background-color: #fd4f10;
}

section .slider__count select {
  width: 100%;
  margin-top: 10px;
  outline: none;
  background-color: #eee;
  padding: 5px 10px;
  border-radius: 4px;
}

.new-sale {
  background-image: url(../../img/new-sale-bgimage.png);
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 992px) {
  section .section__name {
    font-size: 60px;
  }
}

/**/
.causes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.causes__item {
  width: 100%;
  margin: 30px auto;
}

.causes__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.causes__img img {
  width: 120px;
  height: 100px;
}

.causes__text {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  text-transform: none;
  color: #202020;
  padding: 20px;
}

@media (min-width: 576px) {
  .causes__item {
    width: 47%;
  }
}

@media (min-width: 992px) {
  .causes__item {
    width: 32%;
  }
}

@media (min-width: 1140px) {
  .causes__item {
    width: 19%;
  }
}

/**/
.reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.reviews__item {
  border: 1px solid #e6e6e6;
  padding: 20px 10px;
  width: 100%;
}

.reviews__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews__image {
  width: 106px;
  height: 142px;
  padding-bottom: 30px;
}

.reviews__image img {
  width: 100%;
  height: 100%;
}

.reviews__name {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 800;
  text-align: left;
  text-transform: capitalize;
  color: #5e81a7;
}

.reviews__date {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 500;
  text-align: left;
  text-transform: none;
  color: #999999;
  padding-top: 5px;
}

.reviews__text {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  text-transform: none;
  color: #000;
  padding: 20px 0;
  line-height: 1.2;
}

.reviews__like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  border-top: 1px solid #e6e6e6;
  padding: 10px 0;
}

.reviews__like i {
  margin-right: 20px;
  color: #b5c7df;
}

.reviews__btn {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px auto;
}

.reviews__btn-link {
  border-radius: 4px;
  width: 100%;
  padding: 10px;
  background-color: #5e81a7;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 800;
  text-align: center;
  text-transform: capitalize;
  color: #fff;
}

@media (min-width: 768px) {
  .reviews__item {
    width: 47%;
  }
}

@media (min-width: 992px) {
  .reviews__item {
    width: 31%;
  }
}

@media (min-width: 1250px) {
  .reviews__item {
    padding: 50px;
  }
  .reviews__name {
    font-size: 16px;
  }
}

/**/
.form {
  background-image: url(../img/form320.PNG);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px 0;
}

.form .section__quest {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  text-transform: none;
  color: #fff;
  width: 100%;
}

.form .section__title {
  font-family: "LemonTuesday", sans-serif;
  font-size: 47px;
  font-weight: 500;
  text-align: left;
  text-transform: none;
  color: #fff;
  padding: 20px 0;
  width: 100%;
}

.form .form__name,
.form .form__tel {
  width: 100%;
  background-color: transparent;
  border-bottom: 1px solid #fff;
  outline: none;
  padding: 7px;
  color: #fff;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

.form .form__name::-webkit-input-placeholder,
.form .form__tel::-webkit-input-placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  text-transform: none;
  color: #fff;
}

.form .form__name:-ms-input-placeholder,
.form .form__tel:-ms-input-placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  text-transform: none;
  color: #fff;
}

.form .form__name::-ms-input-placeholder,
.form .form__tel::-ms-input-placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  text-transform: none;
  color: #fff;
}

.form .form__name::placeholder,
.form .form__tel::placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  text-transform: none;
  color: #fff;
}

.form .form__name:focus,
.form .form__tel:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.form .form__tel {
  margin-top: 20px;
}

.form .form__btn {
  width: 100%;
  padding: 10px 0;
  border-radius: 4px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background-color: #fd4f10;
  margin: 20px 0;
}

.form .form__agree {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  text-transform: none;
  color: #fff;
  line-height: 1.2;
}

@media (min-width: 576px) {
  .form {
    background-image: url(../img/form-desktop.PNG);
  }
}

@media (min-width: 992px) {
  .form .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .form .form__wrap {
    width: 50%;
  }
  .form .form-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .form .form__name,
  .form .form__tel {
    margin-top: 0;
    margin-right: 20px;
  }
}

/**/
.about .section__name img {
  display: none;
}

.about .section__title {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 800;
  text-align: left;
  text-transform: none;
  color: #32505a;
  padding: 20px 0;
  line-height: 1.2;
}

.about .section__text {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 300;
  text-align: left;
  text-transform: none;
  color: #4d4d4d;
  line-height: 1.2;
  padding: 20px 0;
}

.about .section__img {
  display: none;
}

.about label {
  padding: 10px 20px;
  background-color: #fff;
  color: #fd4f10;
  border: 1px solid #fd4f10;
  border-radius: 4px;
  font-weight: bold;
}

.about .next__text {
  display: none;
}

.about input {
  display: none;
}

.about input:checked ~ p {
  display: block;
}

.about input:checked ~ label {
  display: none;
}

.about .show,
.about .hide {
  display: block;
  margin-top: 20px;
  text-align: center;
}

@media (min-width: 992px) {
  .about .section__name img {
    display: inline-block;
  }
  .about .section__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .about .section__img {
    display: block;
    width: 20%;
  }
  .about .section__text {
    width: 77%;
  }
  .about .section__text p {
    margin-bottom: 20px;
    line-height: 1.5;
  }
  .about .section__title {
    width: 100%;
    text-align: left;
    font-size: 20px;
  }
  .about .next__text {
    display: block;
  }
  .about .section__text label {
    display: none;
  }
}

/**/
.footer {
  -webkit-transition: 1s;
  transition: 1s;
  background-color: #1a2d34;
}

.footer input[type="radio"] {
  display: none;
}

.footer .footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer__table {
  display: none;
}

.footer__item {
  width: 100%;
  border-bottom: 1px solid #20353d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 20px 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  text-transform: capitalize;
  color: #fff;
}

.footer .sub__name {
  width: 100%;
  position: relative;
  margin-bottom: 10px;
}

.footer .sub__name::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f078";
  position: absolute;
  right: 15px;
}

.footer input:checked + .sub__name::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.footer .sub__list {
  width: 100%;
  display: none;
  overflow: hidden;
  -webkit-transition: 1s;
  transition: 1s;
}

.footer input[type="radio"]:checked ~ .sub__list {
  display: block;
  -webkit-transition: 1s;
  transition: 1s;
}

.footer .sub__list {
  padding: 10px 0;
  background-color: #20353d;
}

.footer .sub__list .sub__item a {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 300;
  text-align: left;
  text-transform: capitalize;
  color: #6b96a5;
  padding: 20px 10px;
}

.footer .footer__info {
  padding: 50px 0;
}

.footer .social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .social__item {
  background-color: #8d969a;
  border-radius: 50%;
  padding: 2px;
  margin: 5px;
}

.footer .social__item a i {
  color: #000;
}

.footer .social__item:first-child {
  padding: 2px 5px;
}

.footer .footer__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer__data a {
  text-decoration: underline;
  padding: 40px 0;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 300;
  text-align: center;
  text-transform: none;
  color: #6b96a5;
}

.footer .footer__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer__copyright a {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  color: #6b96a5;
}

@media (min-width: 992px) {
  .footer {
    padding: 50px 0;
  }
  .footer .footer__list {
    display: none;
  }
  .footer .footer__table {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer__item {
    width: 19%;
    border-bottom: none;
  }
  .footer .sub__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background-color: transparent;
  }
  .footer .sub__list .sub__item a {
    padding: 0px;
  }
  .footer .sub__list .sub__item {
    padding-bottom: 10px;
  }
  .footer .sub__list:first-child .sub__item a {
    color: #fff;
  }
  .footer .sub__name::after {
    content: "";
  }
  .footer .footer__info {
    position: relative;
  }
  .footer .footer__social {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .footer .footer__copyright {
    position: absolute;
    left: 0;
    bottom: 0;
  }
  .footer .footer__data {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: 0;
  }
  .footer .footer__data a {
    padding: 0px;
  }
}
/*# sourceMappingURL=style.css.map */