//colors
$color-black:#000;
$color-green:#1fba0a;
$color-white:#fff;
$color-banner-title: rgb(132, 198, 4);
$color-red:red;
$color-header-btn:#fd4f10;
$color-slider-title:#32505a;
$color-causes-text:rgb(32, 32, 32);
$color-review-name:rgb(94, 129, 167);
$color-text:rgb(77, 77, 77);
//fonts
$font-Opensans:'Open Sans',
sans-serif;
$font-Lemon:"LemonTuesday",
sans-serif;