@media (min-width: 576px) {
    .form {
        background-image: url(../img/form-desktop.PNG);
    }
}

@media (min-width: 992px) {
    .form {
        .container {
            @include flex(row, flex-end, center);
        }
        .form__wrap {
            width: 50%;
        }
        .form-area {
            @include flex(row, space-between, center);
        }
        .form__name,
        .form__tel {
            margin-top: 0;
            margin-right: 20px;
        }
    }
}